*{
      margin:0;
    padding:0;
}

body{
    position: relative;
    font-size:20px;
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif
}

header{
    background-color: green;
}

h1{
    text-align: center;
    color: white;
    background-color: greenyellow;
}

ul{
    text-align: right;
    color:white
}

li{
    list-style-type: none;
    display: inline;
    text-align: right;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
    border: 10px solid green;
}

p{
    text-align: center ;
    font-weight: bolder;
}

.container{
    border: 5px solid lightgray;
    display: inline-block;
}

#form{
    margin:0 auto;
    display: inline;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}
